
<div class="user-password-wrapper" >
    <form role="form" name="submitForm">
        <ul class="round form-input-list">
            <li class="">
                <span class="input-label">当前密码:</span>
                <div class="input-field">
                    <input type="password" class="input-control" placeholder="当前密码" ng-model="formData.oldpassword">
                </div>
            </li>
            <li class="">
                <span class="input-label">新密码:</span>
                <div class="input-field">
                    <input type="password" class="input-control" placeholder="新密码" ng-model="formData.newpassword">
                </div>
            </li>
            <li class="">
                <span class="input-label">确认密码:</span>
                <div class="input-field">
                    <input type="password" class="input-control" placeholder="确认密码" ng-model="formData.newpassword2">
                </div>
            </li>

        </ul>

        <div class="form-actions">
            <button class="m-btn m-btn-success password-save-btn one-btn" ng-click="save()">保存</button>
        </div>
    </form>
    
</div>
